<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	>

<f:view contentType="text/html">

 
<h:head>
	
	<!-- Google Maps API version 3.20	-->
	<script src="https://maps.google.com/maps/api/js?libraries=drawing&amp;v=3.26" type="text/javascript"/>

	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" type="text/javascript"/>
	<script src="https://twitter.github.io/typeahead.js/releases/latest/typeahead.bundle.min.js" type="text/javascript"/>

  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script src="https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>


	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.13/css/jquery.dataTables.min.css"/>	
	<link rel="stylesheet" type="text/css" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"/>
	
	<link rel="shortcut icon" href="./resources/images/favicon.png" type="image/png" />

	<h:outputScript library="js" name="minerva.js"  />
	
	<script type="text/javascript">
//<![CDATA[

function initMap(){
	var element = document.getElementById('minervaAppDiv');
  return minerva.create({
		element : element, 
	}).then(function(result){
		customMap = result;
		document.title = result.getProject().getName();

      return registerPlugins();

	}).catch(function(rejectReason){
		minerva.GuiConnector.alert(rejectReason);
	});
}

function registerPlugins() {
    var nodup = require('nodup');
    return nodup.registerPlugin(customMap, 'minervaAppDiv');
}

//]]>
		</script>

	<script src="http://localhost:8080/minerva-plugins/nodup/dist/nodup.js"></script>


</h:head>
<h:body onload="initMap();" >
<h:outputStylesheet library="css" name="bootstrap.min.css"/>
<h:outputStylesheet library="css" name="style.css"/>
<h:outputStylesheet library="css" name="minerva.css"	/>
<h:outputStylesheet library="css" name="pileup.css"/>

	<h:outputScript library="primefaces" name="jquery/jquery.js" target="head"	/>
	<div id="minervaAppDiv" style="height: 100%;width: 100%;margin: 0;"/>

</h:body>
</f:view>
</html>

