.padding-0 {
    padding: 0;
    marging: 0;
}

.label-species-types {
    width: 100%;
}

.ceOptionsShowHideButton {
    width:100%;
}

.ceRowOptions {
    padding-top: 3px;
}

.ceRowOptions>div {
    padding-left: 3px;
    padding-right: 3px;
}

.ceRowOptions span.fa {
    font-size:14px;
}


.ceLegend text {
    font-weight: 600;
    fill: #fff;
}

.ceChart svg {
    width: 100%;
    height: 100%;
}


.ceSvg {
    width:100%;
    height:100%;
}

.ceSvgOverlayRect{
    width:100%;
    height:100%;
    fill: none;
    pointer-events: all;
}

/******************************************************************************
Tree visualization
 *******************************************************************************/


.ce-node {
    cursor: pointer;
}

.ce-node circle {
    /*stroke: steelblue;*/
    stroke-width: 1px;
}

.ce-node circle.ce-leaf {
    fill: white;
}

.ce-node circle.ce-inner {
    fill: steelblue;
}

.ce-spawned circle{
    stroke: black;
    stroke-width: 3px;
}

.ce-node text.ce-species {
    font: 10px sans-serif;
    pointer-events: none;
}

.ce-node text.complex {
    font-weight: bold;
}

.ce-link {
    fill: none;
    stroke: #ccc;
    stroke-width: 1.5px;
}

.ce-path-link {

    stroke-dasharray: 5;
    stroke-width: 3.5px;
    stroke: #cc0000;
}

.ceLegend {
    width: 100%;
    padding-top: 3px;
}

.ce-legend-row {
    padding-left: 3px;
    padding-right: 3px;
}

.ce-legend-trees {
    display: table;
    table-layout: fixed;
    width: 100%;
}

.ce-legend-trees-row {
    display: table-row;
}

.ce-legend-tree-cell {
    display: table-cell;
}

.ce-legend-tree-label {
    text-align: center;
    color: rgb(242, 243, 244);
    font-weight: bold;
    cursor: pointer;
}

.ce-legend-tree-label:first-child {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.ce-legend-tree-label:last-child {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.ceSearchBarContainers{
    position: absolute;
    bottom: 0;
    width: 100%;
    margin-bottom: 3px;
    padding-left: 3px;
    padding-right: 3px;
    /*margin-left: 5px;*/
    /*margin-right: 5px;*/
}

.ce-search-bar-container {
    margin-right: 3px;
}
.ce-search-bar-container.last {
    margin-right: 0px;
}


.ce-search-bar-input-group .input-group-addon{
    /*background: white !important;*/
    background-color: rgba(160, 160, 160, 0.09);
}
.ce-search-bar-container .form-control{
    box-shadow:0 0 0;
    border-color:#ccc;
    background-color: rgba(160, 160, 160, 0.09);
}
.ce-search-bar-container button{
    border:0;
    background:transparent;
    position:absolute;
    top:0;
    width: 100%;
    height: 100%;
}

/******************************************************************************
General
 *******************************************************************************/

.ce-cursor-glass {
    cursor: zoom-in;
}

.ce-hidden {
    display:none;
}

.row.no-gutter {
    margin-right:0;
    margin-left:0;
}
.row.no-gutter > [class*='col-'] {
    padding-right:0;
    padding-left:0;
}

/******************************************************************************
Tooltips / on-demand menus
 ******************************************************************************/

.ceTooltip, .ceNodeMenu, .ceMenu {
    position: absolute;
    width: auto;
    /*height: auto;*/
    padding: 10px;
    background-color: rgba(256, 256, 256, 0.8);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    z-index: 100;
    font-size: 12px;
}

.ceTooltip {
    pointer-events: none;
}

.ceNodeMenu div, .ceMenu div {
    cursor: pointer;
}


.ceTooltip.hidden, .ceNodeMenu.hidden {
    display: none;
}


.ce-tooltip-species {
    text-align: center;
    /*text-decoration: underline;*/
    font-weight: bold;
    margin-bottom: 3px;
}

.ce-tooltip-list-header {
    font-weight: bold;
}

.ce-tooltip-bioentities {
    margin-bottom: 5px;
}

.ce-tooltip-bioentity {
    border-bottom-style: dotted;
    border-bottom-width: 1px;
    margin-left: 5px;
}

.ce-legend-box {
    border-radius: 5px;
    margin: 3px;
    padding-left: 5px;
}