/*#pluginContainer {*/
/*float: right;*/
/*width:30%;*/
/*height:100%;*/
/*position: relative;*/
/*overflow: hidden;*/
/*}*/

/*#pluginSplitBarDiv {*/
/*background-color:black;*/
/*height:100%;*/
/*float:right;*/
/*width:2px;*/
/*cursor: col-resize;*/
/*}*/

$pluginContainer: #nodupContainer;

#{$pluginContainer} #divResults .col-md-12{
  padding-left: 0px;
  padding-right: 0px;
}


#{$pluginContainer} #divResults .row {
  height: calc(50vh - 40px);
  padding-bottom: 10px;
}

#{$pluginContainer} #divResults .row>div, #{$pluginContainer} .row .panel {
  height: 100%;

}

#{$pluginContainer} #divResults .row .panel-body {
  height: calc(100% - 42px);
  overflow: auto;
}

#{$pluginContainer} .panel-heading {
  text-align: center;
}

#{$pluginContainer} #divTopRow, #{$pluginContainer} #divResults {
  padding-top: 5px;
  padding-left: 5px;
  padding-right: 5px;
}

#{$pluginContainer} #divTopRow .col-md-11{
  padding-left: 0px;
  padding-right: 5px;
}

#{$pluginContainer} #divTopRow .col-md-1{
  padding-left: 0px;
  padding-right: 0px;
}

#{$pluginContainer} .error {
  margin: 40px;
}

#{$pluginContainer} #divOptions .row {
  margin-top: 10px;
}

#{$pluginContainer} th {
  cursor: pointer;
}

#{$pluginContainer} .panel-danger {
  margin-bottom: 0px;
}
